* {
    font-family: 'Comfortaa', cursive;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b;
}

body {
    background: #f6f6f6;
}

a {
    text-decoration: none;
    color: inherit;
}
input {
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ececec;
    line-height: 1.5rem;
    color: #444;
}
/* HEADER */
header {
    background: #008484;
    height: 70px;
    /*min-height: 70px;*/
    /*height: 100%;*/
}

header * {
    color: #fff;
}

header h1 a:hover {
    color: #fff;
}
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
header ul li {
    float: left;
    position: relative;
}
header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    padding: 22px;
}
header ul li a:hover {
    color: #fff;
    background: #006669;
}
header ul li ul {
    position: absolute;
    top: 66px;
    right: 0;
    width: 180px;
    z-index: 5;
    background: #008484;
    display: none;
}
header ul li ul li {
    width: 100%;
}
header ul li:hover ul {
    display: block;
}


#carouselExampleCaptions img {
    object-fit: cover;
    object-position: center;
    max-height: 720px;
    height: 100%;
}

/*
    SLIDER
*/
.slider-title {
    text-align: center;
    padding: 30px 0;
}
.carousel-caption {
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 8px;
    background: #000;
    opacity: .5;
    width: 80%;
}

.carousel-caption h5 a {
    color: #f6f6f6;
}

.post .post_text {
    background: #fff;
    padding: 16px 12px;
    border-radius: 3px;
}
.search {
    margin-top: 54px;
}
.sidebar .section {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 1em;
}
.sidebar .topics ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}

.sidebar .topics ul li a {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    transition: .3s ease;
    text-decoration: none;
    font-weight: 500;
    color: #5c5b5b;
    font-size: 1.2em;
}
.sidebar .topics ul li a:hover {
    padding-left: 10px;

}
/*
FOOTER
*/

.footer {
    height: 380px;
    background: #303036;
    color: #d3d3d3;
    position: relative;
}
.footer .footer-section {
    padding: 22px;
}
.footer h4, .footer h3 {
    color: white;
}
.footer .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: .3s ease;
    color: #fff;
}
.footer .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: .3s ease;
    color: #fff;
    text-decoration: none;
}

.footer .links ul a:hover {
    margin-left: 15px;
}

.footer .contact-form .contact-input {
    background: #272727;
    color: #bebbdb;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus {
    background: #1a1a1a;
}

.footer .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
}
.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}
.footer .contact-btn {
    background: #272727;
    color: #bebbdb;
}

.single_post .info {
    margin: 16px 0;
}
.single_post .info i {
    display: inline-block;
    margin-right: 20px;
}

.reg_form h3 {
    text-align: center;
    margin: 30px 0;
}
.reg_form a {
    font-size: 1.2em;
    transition: .3s ease;
    color: #5c5b5b;
    text-decoration: none;
    margin-left: 60px;
}
.reg_form a:hover {
    margin-left: 55px;
}
.reg_form .error-message p {
    color: #ff0000;
    font-style: italic;
}
.reg_form .error-message p span.sucessfull-msg {
    color: #1a1a1a;
}


